* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  color: #fff;
}
main {
  background: rgba(0, 0, 300, 0.3)
    url(https://i.picsum.photos/id/737/2880/1920.jpg?hmac=J1s6x8nPJRLhI73881x3UfRnL7HN1QPF8GQLyun1nKM);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 450px;
  width: 400px;
  background-color: rgba(250, 250, 250, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login {
  font-size: 30px;
  color: white;
  margin: 15%;
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px, 20px;
}

.formulario > * {
  text-align: center;
  width: 300px;
  margin: 10px 0;
}

input,
button {
  border-radius: 40px;
}
input::placeholder {
  color: #fff;
}

input:focus-visible,
button:focus-visible {
  transform: scale(1.05);
}

a:focus-visible {
  outline: 0;
  transform: scale(1.05);
}

.formulario > input {
  font-size: 16px;
  text-indent: 20px;
  height: 30px;
  background: rgba(250, 250, 250, 0.3);
  text-align: left;
}

.formulario > button {
  height: 40px;
  background: rgb(6, 116, 250);
  text-align: center;
  font-size: 18px;
}
